/* header */
html {
    min-height: 100%;
    position: relative;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
}

header {
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(#252525, #696969);
}

header .inner {
    position: relative;
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 100%;
}

/* .logo */
header .logo {
    position: relative;
    width: 300px;
    margin: 0;
    padding: 0;
}

header .logo a {
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

/* navi */
header .navi {
    margin: 0 0 0 auto;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    list-style: none;
}

header .navi li {
    margin: 5px 0 5px 60px;
}

header .navi li:first-child {
    margin-left: 0;
}

/*aタグデザイン*/
header .navi li a {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
    position: relative;
    display: inline-block;
}

header .navi li a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #ffb45f;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
}

header .navi li a:hover::after {
    transform: scale(1, 1);
}
/*ユーザーアイコン*/
.user-line{
    display: flex;
    background: #ffffff;
    border-radius: 3px;
    align-items: center;
}
.user-line a{
    margin: 10px;
}
.user-line a,div{
    font-size: 20px;
    color: #000;
}
.user {
	margin: 10px;
	display: inline-block;
	position: relative;
	border-radius: 50%;
	background-color: #d3d3d3;
	width: 1em;
	height: 1em;
	font-size: 50px;
	overflow: hidden;
	cursor: pointer;
}
.user::before,
.user::after {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
	background-color: #949495;
	content: "";
}

.user::before {
	top: 0.15em;
	width: 0.4em;
	height: 0.4em;
}

.user::after {
	bottom: -0.4em;
	width: 0.8em;
	height: 0.8em;
}
/*機能の名前とか表示する用のやつ*/
.line {
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.line .inner {
    width: 100%;
}

.line p {
    color: #000000;
    font-size: 30px;
}

.list-table {
    width: 85%;
    margin: 0 auto;
    flex-grow: 1;
}
/*テーブル汎用*/
table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border: 1px solid #ccc;
    font-size: 13px;
    z-index: 99;
}

table th {
    padding: 15px;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-bottom: 2px solid #59b0f8;
    background: #cee7ff;
}

table td {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

table th:first-child {
    border-right: 1px solid #ccc;
}

table td:first-child {
    width: 10%;
}

table tr:nth-of-type(odd) {
    background: #ececec;
}

/* footer */
footer {
    margin-top: 100px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
}

footer .inner {
    color: aliceblue;
    text-align: center;
    background: linear-gradient(#696969, #252525);
    height: 100%;
    width: 100%;
}

.inner p {
    margin: 0;
}

.button-list{
    width: 100%;
    display: flex;
    
}
.button-list a{
    text-decoration: none;
    margin: 0 auto;
}
/* homeがめん */
#home {
    position: relative;
    height: 300px;
    width: 100%;
    background-size: cover;
    background-image: url("../img/いい感じの背景.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -99;
}

#home .inner {
    position: relative;
    font-size: 15px;
    width: 60%;
    height: 50%;
    text-align: center;
}

#home .inner p {
    font-size: 30px;
}

/* home list */
#sec {
    width: 100%;
    margin: 20px 0;
    background: #7bff9c;
}

.menu-list {
    width: 80%;
    margin: 0 auto;
}

.menu-list ul {
    width: 100%;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    display: flex;
}

.menu-list ul li {
    width: calc(100%/4);
    padding: 40px;
    display: flex;
    flex-direction: column;
}

#main {
    flex-grow: 1;
    width: 60%;
    margin: 0px auto;

}

/*ログインフォーム*/
.login-page {
    width: 660px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 660px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 4px 5px rgb(83, 83, 83);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.4s ease-in-out;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #2a8dff;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}

.form input:focus {
    box-shadow: 0 0 0 1px rgb(99, 123, 255);
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #0029b1;
}

/*登録用フォーム汎用*/
.insert-form {
    width: 80%;
    background-color: #fff;
    margin: 20px auto;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 4px 3px #bebebe;
  }

  .insert-form .form-group {
    border-radius: 5px;
    width: 80%;
    display: flex;
    margin: 5px;
    border: 1px solid #d6d6d6;
  }
 .insert-form .form-group dt{
    width: 30%;
    padding: 20px 5px;
    background: #bccaff;
    display: flex;
    align-items: center;
  }
  .insert-form .form-group dd{
    padding: 20px 5px;
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  .insert-form .form-group dd span{
    color: #acacac;
  }
  .insert-form label {
    display: block;
    font-weight: bold;
    color: #333;
    
  }

  .insert-form input[type="text"],
  .insert-form input[type="password"],
  .insert-form select {
    width: 80%;
    padding: 10px 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
  }

  .insert-form input[type="text"]:focus,
  .insert-form input[type="password"]:focus,
  .insert-form select:focus {
    border-color: #007bff;
    outline: none;
  }

  .form-item {
    width: 30%;
  }
  .footer-cont{
    flex-grow: 1;
  }